{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CookingHeaven</title>
    {#    <link rel="stylesheet" href="{% static '/css/style.css' %}">#}
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/custom.css' %}">
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark custom-nav">
        <div class="container-fluid">
            <ul class="navbar-nav me-auto">
                <li class="nav-item active m-auto pe-auto">
                    <a href="{% url 'home' %}" class="navbar-brand">Cooking Heaven</a>
                </li>
                <li class="nav-item active me-auto">
                    <a class="nav-link active" href="{% url 'dashboard' %}">My recipes</a>
                </li>
            </ul>
        <ul class="navbar-nav">
            {% if  request.user.is_authenticated %}
                <li class="nav-item active m-auto pe-1">
                    <a class="btn btn-orange mr-1" href="{% url 'recipe create' %}">Create recipe</a>
                </li>
                {% if request.user.is_staff %}
                    <li class="nav-item active m-auto pe-1">
                        <a class="btn btn-orange mr-1" href="{% url 'admin panel' %}">Admin panel</a>
                    </li>
                {% endif %}
                <li class="nav-item active m-auto">
                    <div class="dropdown">
                        <button class="btn dropdown-toggle btn-orange" type="button" id="dropdownMenuButton"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Profile
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <a class='dropdown-item' href="{% url 'logout' %}">Logout</a>
                            <a class='dropdown-item' href="{% url 'password_change' %}">Change Password</a>
                            <a class='dropdown-item' href="{% url 'delete' request.user.pk %}">Delete Profile</a>
                            <a class='dropdown-item' href="{% url 'profile details' request.user.pk %}">Profile</a>
                        </div>
                    </div>
                </li>
            {% else %}

                <li class="nav-item active">
                    <a class="nav-link active" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link active" href="{% url 'register' %}">Register</a>
                </li>

            {% endif %}
        </ul>
        </div>
    </nav>
</header>

<div class="container bg-light-green">
    {% block page_content %}
    {% endblock %}
</div>


<footer class="bg-custom-green text-white">
        <div>Georgi Tenev Georgiev</div>

</footer>
<script src="{% static '/js/bootstrap.bundle.js' %}"></script>
</body>
</html>