{% extends 'base/base.html' %}
{% block page_content %}
    <div class="container-fluid p-5">
        {% if recipes %}
            <div class="card-group mb-3  text-center">
            {% for recipe in recipes %}
                <div class="card text-center m-1" style="width: 18rem;">
                    <img class="card-img-top" src="{{ recipe.photo.url }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ recipe.name}}</h5>
                        {% if recipe.description %}
                        <p class="card-text">{{ recipe.description }}</p>
                        {% endif %}
                        <a href="{% url 'recipe details' recipe.pk %}" class="btn btn-orange">View recipe</a>

                    </div>
                </div>
            {% endfor %}
            </div>
        {% else %}
            <div class="d-flex justify-content-center">
                <h3>There are no Any Recipes</h3>
            </div>
            {% if request.user %}
                <div class="d-flex justify-content-center pt-2">
                    <a class="btn btn-orange" role="button" href="{% url 'recipe create' %} ">Add Recipe</a>
                </div>
            {% endif %}
        {% endif %}
    </div>

{% endblock %}