.btn-orange {
    color: #fff;
    background-color: #C7781C;
}

.btn-orange:hover {
    color: #fff;
    background-color: #CE5310;
}

.custom-nav{
    background-color: #aeca4f;
}

.hidden {
    display: none
}

.bg-orange {
    color: #fff;
    background-color: #C7781C;
}

.bg-light-green {
    background-color: #F7F9E1;
}

.bg-light-orange {
    background-color: #F9B53E;
}

.bg-custom-green{
    background-color: #aeca4f;
}

html {
    height: auto;
}
html, body{
    /*height: 100%;*/
    height: auto;
}



.header {
    height: 6%;
}

.main   {
    /*height: 88%;*/
    min-height: 88%;
    height: fit-content;
}

.footer {
    height: 6%;
}
.min-vh-87{min-height: 87vh!important}

.main-wrapper {
  height: 100vh;
}

.index-image {
    height: 600px;
}

.card-image {
    height: 250px;
}
.no-bullets {
    list-style: none;
}